.navigation {
  box-shadow: 0 0 35px grey;
}

.logo {
  display: flex;
  justify-content: center;
  font-family: 'Dosis', sans-serif;
  font-family: 'Kalam', cursive;
  font-size: 30px;
}

section {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section .sign {
  width: 450px;
  height: 550px;
  background: #222;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0px 0px 15px rgb(47, 109, 255);
}

section .sign .content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 29px;
}

section .sign .content .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

section .sign .content .form .inputBox {
  position: relative;
  width: 100%;
}

section .sign .content .form .inputBox input {
  position: relative;
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  padding: 10px 10px;
  border-radius: 4px;
  color: #470743;
  font-weight: 500;
  font-size: 15px;
}

section .sign .content .form .inputBox i {
  position: absolute;
  left: 0;
  padding: 10px 10px;
  font-style: normal;
  color: #aaa;
  transition: 0.5s;
  pointer-events: none;
}

.sign .content .form .inputBox input:focus~i,
.sign .content .form .inputBox input:valid~i {
  transform: translateX(56vw);
  font-size: 12px;
  opacity: 0;
  color: #d4ebf0;
}

.sign .content .form .inputBox input:focus ,
.sign .content .form .inputBox input:valid{
  background-color: rgb(219, 243, 243);
}

input:focus {
  box-shadow: 0 0 20px fuchsia;
}

.sign .content .form .links {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sign .content .form .links a {
  color: #fff;
  text-decoration: none;
}

.sign .content .form .links a:nth-child(2) {
  color: rgb(255, 0, 162);
  font-weight: 600;
}

.sign .content .form .inputBox input[type="submit"] {
  padding: 10px;
  background: rgb(255, 0, 162);
  color: #000;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.05em;
  cursor: pointer;
}

input[type="submit"]:active {
  opacity: 0.6;
}
